<!DOCTYPE html>
<html lang="fr"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">

<title>Professor-list</title>
<link rel="stylesheet" href="../css/professeur/lister.css">
<head th:insert="~{fragments/fragment :: head}">
</head>
<body>
<div  th:insert="~{fragments/fragment :: sidebar}"></div>

<div class="main-content">
    <main>
        <header class="header">
            <h1>Professor (<span th:text="${professors.size()}"></span>)</h1>
            <a th:href="@{/professors/add}"> <img th:src="@{../icon/plus.png}" style="width: 10px;height: 10px" alt=""> Nouveau profeseur</a>
        </header>
        <section class="table-section">
            <table>
                <thead>
                <tr>
                    <th>Nom</th>
                    <th>Prénom</th>
                    <th>Matiere enseigne</th>
                    <th>prochain cours</th>
                    <th>Sujet prochaine reunion</th>
                    <th>Téléphone</th>
                    <th>Ville</th>
                    <th>Date de naissance</th>
                    <th>Email</th>
                    <th>Vacant</th>
                    <th>Actions</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="professor:${professors}">
                    <td th:text="${professor.nom}"></td>
                    <td th:text="${professor.prenom}"></td>
                    <td th:text="${professor.matiereEnseigne}"></td>
                    <td th:text="${professor.prochainCours}"></td>
                    <td th:text="${professor.sujetProchaineReunion}"></td>
                    <td th:text="${professor.telephone}"></td>
                    <td th:text="${professor.ville}"></td>
                    <td th:text="${#dates.format(professor.dateNaissance, 'dd MMMM yyyy')}"></td>
                    <td th:text="${professor.email}"></td>
                    <td th:text="${professor.vacant}"></td>
                    <td>
                        <a th:href="@{/students/update}">
                            <button class="edit-btn">Modifier</button>
                        </a>
                        <button class="delete-btn">Supprimer</button>
                    </td>
                </tr>
                </tbody>
            </table>
        </section>
    </main>

</div>
<!-- Modal de confirmation -->
<div id="confirmationModal" class="modal">
    <div class="modal-content">
        <div class="modal-header">
            <span class="close">&times;</span>
            <h2>ATTENTION !!!</h2>
        </div>
        <div class="modal-body">
            <p>Voulez-vous supprimer ce professeur ?</p>
        </div>
        <div class="modal-footer">
            <button id="confirmYes" class="modal-btn yes-btn">Oui</button>
            <button id="confirmNo" class="modal-btn no-btn">Non</button>
        </div>
    </div>
</div>

<th:block th:insert="~{fragments/fragment :: script-modal}"></th:block>
</body>
</html>
